<%= f.label :street, "Ship Gifts To" %>&nbsp;<span id="addressInfo" class="glyphicon glyphicon-info-sign
" data-toggle="tooltip" data-placement="right" title="This shipping address will be shared with guests so they can ship the gifts directly to you."></span><br/>