<button class = "btn btn-primary item-button text-uppercase" data-link="<%=i.affiliate_link%>" data-toggle="modal" data-target="#newFulfillmentModal" data-item-id="<%=i.id%>" data-item-name="<%=i.name %>">  
  I'll Buy This
</button>