<div class="container">
  <div class = "col-md-8 col-md-offset-2">
<!--   <h1 class="text-center" >Edit Item</h1> -->
  <div class="panel-body">
    <%= form_for @item do |i| %>
      <%= render partial: 'form', locals: {i: i} %>
      <div class="row">
        <div class="col-md-7">
          <%= i.submit "Save Changes", class:"btn btn-primary btn-submit text-uppercase" %>
          <%= link_to "Ignore Changes and return to my registry", user_registry_path(current_user.link_id) ,class:"btn btn-default btn-submit text-uppercase"%>          
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>