<div class="modal fade" tabindex="-1" id="signup-model">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="container-fluid">
        <div class="text-center"> <img src="http://celebrityhockeyclassics.com/wp-content/uploads/Logo-Placeholder.png"> </div>
          <div class="form-group">
          <h3>One simple registry, for <b>everything</b> you want. </h3>
            </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
        <form action="<%= new_user_registration_collect_email_path %>">
          <div class="form-group">
            <input type="email" name="email" placeholder="Email Address" class="form-control text-large">
          </div>
          <div class="form-group">
            <button type="submit" class="form-control btn btn-primary btn-tall btn-full-width text-large text-uppercase">Start Your Registry</button>
          </div>
        </form> 
      </div>
      </div>
      </div>
      </div>
      </div><!-- /.modal-content -->
  </div>
</div>